body {
  /* padding: 0; */
  margin: 0;
  /* background: #f2f6e9; */
}

#my_form{
  display: flex;
  flex-wrap: wrap;
}
.parent{
  content: "";
  flex-wrap: wrap;
  clear: both;
  display: flex;
}
.child {
  flex: 1 21%;
  height: 150px;
  margin:50px;
}
.test{
  width: 150px;
}
.button {
     background-color: #000000;
     color: #FFFFFF;
     padding: 10px;
     border-radius: 10px;
     -moz-border-radius: 10px;
     -webkit-border-radius: 10px;
     margin:10px
 }

 .small-btn {
     width: 50px;
     height: 25px;
 }
